<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Sorry, the page that you're looking for could not be found.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Phone" asp-action="Index">Home Page</a>
    </div>
</div>